.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  padding: clamp(20px, 4vw, 34px) 0;
  transition: 0.3s;
  .logo {
    max-width: 222px;
    height: auto;
  }
  &.active {
    background-color: rgba(#fff, 0.05);
    backdrop-filter: blur(16px);
    padding: 16px 0;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header {
    .logo {
      max-width: 140px;
    }
  }
}
