@font-face {
  font-family: "Cormorant-Bold";
  src: url("./../fonts/cormorant/cormorant-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("./../fonts/inter/inter-regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("./../fonts/inter/inter-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Semibold";
  src: url("./../fonts/inter/inter-medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("./../fonts/inter/inter-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// classes
.cormorant-bold {
  font-family: "Cormorant-Bold", sans-serif !important;
  font-weight: 700;
}
.inter-regular {
  font-family: "Inter-Regular", sans-serif !important;
  font-weight: 400;
}
.inter-medium {
  font-family: "Inter-Medium", sans-serif !important;
  font-weight: 500;
}
.inter-semibold {
  font-family: "Inter-Semibold", sans-serif !important;
  font-weight: 600;
}
.inter-bold {
  font-family: "Inter-Bold", sans-serif !important;
  font-weight: 700;
}
